---
import { getCollection } from "astro:content";
import { siteLang, siteCurrency } from "~/data/config";
const plates = await getCollection("plates");
const siteLangFormat = siteLang.replace("_", "-");
---

<!-- Quick Nav -->
<div class="mb-20 sticky top-8 z-10">
	<nav class="bg-brand-green text-white rounded-full max-w-5xl mx-auto swiper-plates w-full">
		<ul id="plate-nav" class="px-6 py-3 swiper-wrapper h-auto w-auto">
			{
				plates.map((plate) => (
					<li class="swiper-slide !w-max">
						<a href={`#${plate.data.slug}`} class="font-medium select-none">
							{plate.data.prettyName}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</div>

<div class="grid grid-cols-1 gap-y-32">
	{
		plates.map((plate) => (
			<div id={plate.data.slug} class="space-y-16 scroll-mt-20">
				<div class="flex flex-col items-center gap-2 max-w-lg mx-auto text-balance text-center">
					<h3 class="h4 text-brand-green/70">{plate.data.prettyName}</h3>
					<p>{plate.data.description}</p>
				</div>

				<dl class="max-w-5xl mx-auto">
					<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-x-16 xl:gap-x-32">
						{plate.data.plates.map((item) => (
							<div>
								<dt>
									<div class="flex justify-between items-center">
										<span class="font-bold text-2xl tracking-wide">{item.name}</span>
										<span class="font-medium text-lg">
											{new Intl.NumberFormat(siteLangFormat, {
												style: "currency",
												currency: siteCurrency,
											}).format(item.price)}
										</span>
									</div>
								</dt>
								<dd>
									<p class="mt-2 text-gray-500 tracking-wide leading-normal text-balance">
										{item.description}
									</p>
								</dd>
							</div>
						))}
					</div>
				</dl>
			</div>
		))
	}
</div>

<script>
	import Swiper from "swiper";
	import "swiper/css";

	document.addEventListener("astro:page-load", () => {
		const swiperPlates = document.querySelector(".swiper-plates") as HTMLElement;
		new Swiper(swiperPlates, {
			loop: false,
			spaceBetween: 32,
            slidesPerView: "auto",
		});
	});
</script>
